.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  border: none;
  background: none;  
  white-space: nowrap;
  transition: all .2s;
  cursor: pointer;
  
  &_blue {
    height: 56px;
    border-radius: 12px;
    background-color: var(--primary-blue);
    font-size: 18px;
    font-weight: 700;
    width: 100%;
  }

  &_primary {
    height: 3.75vw;
    border-radius: .83vw;
    background-color: #142438;
    font-size: 20px;
    font-weight: 800;
    color: white;    
    padding: 0 2.34vw;

    @media (max-width: 1280px), (min-width: 1920px) {
      font-size: 1.04vw;
			height: 80px;
      padding: 0 45px;
		} 

    &:disabled {
      background-color: #EDF2F4;
      color: #AFBBC2;

      &:hover {
        background-color: #EDF2F4;
        color: #AFBBC2;
        cursor: auto;
      }
    }

    &:hover {
      background-color: #0A3468;
    }    
  }
  
  &_middle {
    height: 40px;    
    font-size: 18px;
    font-weight: 700;
    background-color: #142438;
    border-radius: 8px;
    padding: 0 28px;

    @media (max-width: 1280px), (min-width: 1920px) {
      height: 2.08vw;
      font-size: .9375vw;     
      border-radius: .42vw;
      padding: 0 1.46vw;
    }

    &:hover {
      background-color: #0A3468;
    }
  }  

  &_outlined {
    border: white 1px solid;
    background: none;
    border-radius: 12px;
  }
  
  &_outlined-red {
    height: 52px;
    border: #FF0032 1px solid;
    border-radius: 18px;
    background: none;
    color: #FF0032;
    font-size: 15px;
    font-weight: 600;

    @media (max-width: 1280px), (min-width: 1920px) {
      height: 2.7vw;      
      border-radius: .9375vw;   
      font-size: .78vw;
    }

    &:hover {
      background: none;
    }
  }
}
