.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  border: none;
  background: none;  
  white-space: nowrap;
  cursor: pointer;
  
  &_blue {
    height: 56px;
    border-radius: 12px;
    background-color: var(--primary-blue);
    font-size: 18px;
    font-weight: 700;
    width: 100%;
  }

  &_primary {
    height: 3.75vw;
    border-radius: .83vw;
    background-color: #142438;
    font-size: 1.04vw;
    font-weight: 800;
    color: white;
    transition: all .2s;
    padding: 0 2.34vw;

    @media (min-width: 1921px) {
			font-size: 24px;
			height: 80px;
      padding: 0 45px;
		}

    @media (max-width: 768px) {			
			font-size: 18px;
      height: 50px;      
		}

    &:hover {
      background-color: #0A3468;
    }    
  }
  
  &_middle {
    height: 2.7vw;    
    font-size: 20px;
    font-weight: 600;
    padding: 0 26px;
  }  

  &_outlined {
    border: white 1px solid;
    border-radius: 12px;
  }
  
  &_outlined-red {
    border: #FF0032 1px solid;
    border-radius: .9375vw;
    color: #FF0032;
    font-size: .78vw;
    font-weight: 600;
  }
}
