.choose-token-popup {	

	&__search {
		width: 100%;
		margin-bottom: 32px;

		@media (max-width: 1280px), (min-width: 1920px) {
			margin-bottom: 1.67vw;
		}
	}

	&__tokens-list {		
		height: 40vh;
		width: calc(100% + 1.15vw);
		overflow-y: scroll;
		padding-right: 1.15vw;

		&::-webkit-scrollbar {
			width: 4px;			
		}
	
		&::-webkit-scrollbar-track {
			background-color: rgba(0, 113, 255, 0.15);
			width: 4px;
			margin-bottom: 2.08vw;
		}
	
		&::-webkit-scrollbar-thumb {
			background-color: var(--primary-blue);
			border-radius: 2px;
		}
	}

	&__tokens-list-empty {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 6.56vw;

		img {			
			width: 2.96vw;
			margin-bottom: .2vw;
		}

		span:first-of-type {
			color: #0071FF;
			font-size: .78vw;
			font-weight: 600;
			margin-bottom: .1vw;
		}

		span:last-of-type {
			color: #9599AD;
			font-size: .625vw;
			font-weight: 600;
		}
	}

	&__list-title {
		font-size: 14px;
		font-weight: 700;
		color: #4C76AA;

		@media (max-width: 1280px), (min-width: 1920px) {
			font-size: .73vw;
		}
	}

	&__select {
		margin-bottom: 32px;

		@media (max-width: 1280px), (min-width: 1920px) {
			margin-bottom: 1.67vw;
		}

		.select__dropdown {
			max-height: 200px;
			overflow-y: scroll;
		
			&::-webkit-scrollbar {
				width: 4px;
			}
		
			&::-webkit-scrollbar-track {
				background-color: rgba(0, 113, 255, 0.15);
				width: 4px;
				border-radius: 2px;
				margin-bottom: .98vw;
			}
		
			&::-webkit-scrollbar-thumb {
				background-color: var(--primary-blue);
				border-radius: 2px;
			}
		}
	}	

	&__owned-tokens {
		margin-bottom: 1.46vw;
	}
	
	.popup__container {
		width: 34.64vw;		
		padding-bottom: 0;
	}	
}