.max-button {	
	background: none;
	border: none;
	font-size: .73vw;
	font-weight: 500;
	color: var(--primary-blue);
	cursor: pointer;
	user-select: none;		
	padding: 0;
	margin-right: .36vw;

	&:disabled {
		color: rgba(149, 153, 173, 0.35);
		cursor: auto;
	}
}