.pagination {
	display: flex;
	align-items: center;
	width: fit-content;
	margin: 0 auto;

	span {
		font-size: .83vw;
	}

	&__title {
		margin-right: .68vw;
	}
	
	&__total {
		margin-right: 1.25vw;
	}

	&__input {
		text-align: center;
		width: 2.5vw;
		height: 2.5vw;
		border-radius: .625vw;
		border: #ABC1CD 1px solid;
		font-size: .83vw;
		outline: none;
		margin-right: .625vw;
	}

	&__arrows {
		display: flex;
	}

	&__arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2.5vw;
		height: 2.5vw;
		background-color: white;
		border: none;
		cursor: pointer;

		&::before {
			content: '';
			width: .83vw;
			height: .83vw;
			background: no-repeat center;	
			background-size: contain;		
		}

		&.disabled {
			cursor: default;
		}

		&_left {			
			margin-right: .42vw;

			&::before {
				background-image: url('../../images/pagination-arrow-icon.svg');
				transform: rotate(180deg);
			}

			&.disabled::before {
				background-image: url('../../images/pagination-arrow-icon_disabled.svg');
				transform: rotate(180deg);
			}
		}

		&_right {
			&::before {
				background-image: url('../../images/pagination-arrow-icon.svg');
			}			

			&.disabled::before {
				background-image: url('../../images/pagination-arrow-icon_disabled.svg');
			}
		}
	}
}