.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(20, 36, 56, 0.85);
	backdrop-filter: blur(32px);
	transition: all .3s;
	visibility: hidden;
	opacity: 0;
	z-index: -1;

	&:target {
		z-index: 99999;
		opacity: 1;
		visibility: visible;
	}

	&__title {
		font-weight: 800;
		font-size: 1.67vw;
		width: fit-content;
		margin: 0 auto 1.56vw auto;
	}
	
	&__container {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		background-color: white;
		border-radius: 1.25vw;
		padding: 2.08vw 2.6vw;
	}

	&__input-label {
		display: block;
		font-size: .73vw;
		font-weight: 700;
		margin-bottom: 1.04vw;
	}

	&__close {
		display: block;
		width: .89vw;
		height: .89vw;
		background: url('../../images/popup-close-button.svg') no-repeat center;
		background-size: contain;
		position: absolute;
		right: 1.2vw;
		top: 1.67vw;
		cursor: pointer;
	}
}