.tooltip {
	position: relative;
	width: fit-content;

	&__message-block {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(calc(-50% + .2vw)) translateY(calc(-100% - .89vw));
		background-color: #15233E;
		border-radius: .2vw;
		font-size: .625vw;
		width: 20.83vw;
		filter: drop-shadow(0px 4px 4px rgba(0, 32, 51, 0.04)) drop-shadow(0px 8px 24px rgba(0, 32, 51, 0.12));
		transition: all .2s;
		opacity: 0;
		z-index: -1;
		visibility: hidden;
		padding: .42vw;

		@media (max-width: 768px) {
			position: fixed;
			top: 10px;
			left: 50%;
			width: calc(100vw - 20px);
			border-radius: 8px;
			transform: translateX(-50%) translateY(0);
			font-size: 12px;
			z-index: 999;
			padding: 8px;
		}

		&::after {
			content: '';
			display: block;
			width: .625vw;
			height: .3125vw;
			background: url('../../images/tooltip-pointer.svg') no-repeat center;
			background-size: contain;
			position: absolute;
			bottom: calc(-.3125vw + 1px);
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__title {		
		font-weight: 700;
		color: #FAFAFA;
		margin-bottom: .2vw;
	}
	
	&__message {		
		line-height: 1.17;
		color: #FAFAFA;
	}

	.tooltip-btn:hover + &__message-block {
		opacity: 1;
		z-index: 2;
		visibility: visible;
	}	
}