.transfers {
	position: relative;
	top: -20px;
	width: 100%;
	border-radius: 40px;
	background-color: #fff;
	padding: 1.67vw;	

	@media (max-width: 1280px), (min-width: 1920px) {		
		border-radius: 2.08vw;		
		padding: 1.67vw;
	}

	&__title {
		margin-bottom: .625vw;
	}

	&__subtitle {
		font-size: .9375vw;
		font-weight: 800;
		line-height: 2.33;
		margin-bottom: .9375vw;
	}

	&__form-head {
		display: flex;
		align-items: center;
		padding: 0 2.4vw .73vw 2.4vw;

		&-title {
			font-weight: 700;
			color: white;
			font-size: 1.25vw;
		}

		&-from {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 20.83vw;			
			margin-right: .26vw;
		}

		&-to {
			display: flex;
			align-items: center;
			padding-left: .625vw;
		}
	}

	&__content {		
		// border-radius: 2.08vw;		
	}

	&__supported {
		display: flex;
		align-items: center;
		margin-bottom: 26px;

		@media (max-width: 1280px), (min-width: 1920px) {
			margin-bottom: 1.35vw;
		}

		@media (min-width: 1920px) {
			margin-bottom: 1.8vw;
		}
	}

	&__supported-title {
		font-size: 14px;
		font-weight: 500;
		margin-right: 5px;

		@media (max-width: 1280px), (min-width: 1920px) {
			font-size: .73vw;
			margin-right: .26vw;
		}

		@media (min-width: 1920px) {
			font-size: 1vw;
			margin-right: .4vw;
		}
	}
	
	&__supported-item-title {
		font-size: 14px;
		font-weight: 500;
		opacity: .45;
		margin-right: 5px;

		@media (max-width: 1280px), (min-width: 1920px) {
			font-size: .73vw;
			margin-right: .26vw;
		}

		@media (min-width: 1920px) {
			font-size: 1vw;
			margin-right: .4vw;
		}
	}

	&__supported-list {
		display: flex;
		align-items: center;
		gap: 16px;

		@media (max-width: 1280px), (min-width: 1920px) {
			gap: .83vw;
		}
	}

	&__supported-item {
		display: flex;
		align-items: center;
	}

	&__supported-logos {
		margin-right: 3px;

		@media (max-width: 1280px), (min-width: 1920px) {
			margin-right: .16vw;
		}
	}

	&__supported-logos-more {
		font-size: 12px;
		font-weight: 700;
		color: var(--primary-blue);
		text-decoration: none;

		@media (max-width: 1280px), (min-width: 1920px) {
			font-size: .625vw;
		}

		@media (min-width: 1920px) {
			font-size: .8vw;
		}
	}
}