.transfers-form {
	display: flex;
	flex-direction: column;
	border-radius: 1.25vw;	

	&__main {
		display: flex;
		align-items: center;		
		gap: 16px;
		margin-bottom: 20px;

		@media (max-width: 1920px) {
			gap: .83vw;
			margin-bottom: 1.04vw;
		}
	}

	&__main-inputs {
		display: flex;
		flex: auto;
		width: 70%;
		gap: 6px;
		position: relative;		

		@media (max-width: 1280px), (min-width: 1920px) {
			gap: .3125vw;
			width: auto;
			margin-right: .83vw;			
		}
	}

	&__main-input {
		display: flex;		
		flex-direction: column;
		flex: auto;
		width: 50%;		
		background-color: #F4F6FB;
		padding: 9px 25px;

		@media (max-width: 1280px), (min-width: 1920px) {
			width: 20.83vw;
			padding: .52vw 1.3vw;
		}

		&_from {			
			border-radius: 16px 0 0 16px;		
			
			@media (max-width: 1280px), (min-width: 1920px) {
				border-radius: .83vw 0 0 .83vw;
			}
		}

		&_to {			
			border-radius: 0 16px 16px 0;	
			
			@media (max-width: 1280px), (min-width: 1920px) {
				border-radius: 0 .83vw .83vw 0;
			}
		}		
	}	

	&__main-input-name {
		font-size: 14px;
		font-weight: 800;	
		
		@media (max-width: 1280px), (min-width: 1920px) {
			font-size: .73vw;
		}
	}

	&__main-input-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__main-input-balance {
		margin-bottom: 8px;

		@media (max-width: 1280px), (min-width: 1920px) {
			margin-bottom: .4vw;
		}
	}

	&__balance-title {
		font-size: 14px;
		color: #9599AD;

		@media (max-width: 1280px), (min-width: 1920px) {
			font-size: .73vw;
			margin-bottom: .4vw;
		}
	}

	&__balance-value {
		font-size: 14px;
		color: var(--primary-blue);

		@media (max-width: 1280px), (min-width: 1920px) {
			font-size: .73vw;
		}
	}

	&__main-input-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__main-input-block {
		display: inline-grid;
		vertical-align: top;
		align-items: center;
		position: relative;
		max-width: 10.42vw;		

		&::after,
		input {
			width: auto;			
			grid-area: 1 / 2;			
			font: inherit;			
			resize: none;
			background: none;
			appearance: none;
			border: none;
		}

		&::after {
			content: attr(data-value) ' ';
			visibility: hidden;
			white-space: pre-wrap;
		}

		input {
			font-size: 24px;
			font-weight: 500;
			color: var(--font-dark);
			outline: none;
			max-width: 10.42vw;
			line-height: 1;	
			
			@media (max-width: 1280px), (min-width: 1920px) {
				font-size: 1.25vw;
			}

			&::placeholder {
				color: #D3D5E0;
				opacity: 1;
			}
		}

		span {
			position: absolute;
			bottom: 4px;
			right: -15px;
			color: #D3D5E0;
			font-size: 14px;

			@media (max-width: 1280px), (min-width: 1920px) {
				font-size: .73vw;
				bottom: 0.17vw;
				right: -0.8vw;
			}
		}		
	}	

	&__main-input-input {		
		
	}

	&__equivalent {
		flex: none;
		font-size: .73vw;
		color: #989EB1;
	}

	&__submit {
		flex: auto;		
		height: 72px;
		width: 30%;
		font-size: 20px;
		max-width: 320px;

		@media (max-width: 1280px), (min-width: 1920px) {
			width: auto;
			font-size: 1.04vw;
			height: 4.625vw;
			max-width: none;			
		}
	}

	&__filters {
		display: flex;
		align-items: center;		
		gap: 32px;	
		border-top: 1px solid rgba(187, 197, 211, 0.32);
		padding-top: 1.3vw;

		@media (max-width: 1280px), (min-width: 1920px) {
			gap: 1.67vw;
		}
	}

	&__filters-container {
		display: flex;
		align-items: center;
		gap: 8px;		

		@media (max-width: 1280px), (min-width: 1920px) {
			gap: .42vw;
		}

		&_wrap {
			flex-wrap: wrap;
		}
	}

	&__filters-item {
		display: flex;
		align-items: center;
	}

	&__filters-title-block {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-right: 9px;

		@media (max-width: 1280px), (min-width: 1920px) {
			margin-right: .47vw;
		}

		.info-button {
			margin-right: 5px;

			@media (max-width: 1280px), (min-width: 1920px) {
				margin-right: .26vw;
			}
		}
	}
	
	&__filters-title {		
		font-size: 16px;
		font-weight: 500;
		margin-right: 6px;

		@media (max-width: 1280px), (min-width: 1920px) {
			font-size: .83vw;
			margin-right: .3125vw;
		}
	}

	&__switch-title {
		font-size: 18px;
		font-weight: 700;
		margin-right: 35px;

		@media (max-width: 1280px), (min-width: 1920px) {
			font-size: .9375vw;
			margin-right: 1.82vw;
		}
	}

	&__advanced-settings {
		display: none;		
		margin-top: 42px;

		@media (max-width: 1280px), (min-width: 1920px) {
			margin-top: 2.19vw;
		}

		&.active {
			display: flex;
			flex-direction: column;
			gap: 20px;

			@media (max-width: 1280px), (min-width: 1920px) {
				gap: 1.04vw;
			}
		}				
	}

	&__estimated-token {
		display: flex;
		align-items: center;
		background: rgba(0, 113, 255, 0.15);
		border: 1px solid #0071FF;
		border-radius: 15px;
		height: 32px;
		width: 100%;
		cursor: pointer;
		position: relative;
		padding: 0 20px;
		margin-bottom: 32px;

		@media (max-width: 1280px), (min-width: 1920px) {
			border-radius: .78vw;
			height: 2.92vw;
			padding: 0 1.04vw;
			margin-bottom: 1.67vw;
		}
	}

	&__route-logos {
		display: flex;
		position: relative;
		height: 1.67vw;
		width: var(--route-logos-width);
		margin-right: .83vw;		
		
		img {
			position: absolute;
			top: 0;
			left: 0;
			height: 1.67vw;			
		}
	}

	&__estimated-parameters {
		display: flex;
		align-items: center;
		gap: 14px;

		@media (max-width: 1280px), (min-width: 1920px) {
			gap: .73vw;
		}
	}

	&__estimated-parameter {
		display: flex;
		align-items: center;
		gap: 4px;
		font-size: 14px;

		@media (max-width: 1280px), (min-width: 1920px) {
			gap: .2vw;
			font-size: .73vw;
		}
	}

	&__estimated-token-title {
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: 800;
		margin-left: auto;

		@media (max-width: 1280px), (min-width: 1920px) {
			font-size: .94vw;
		}

		&::after {
			content: '';
			width: 6px;
			height: 10px;
			background: url('../../images/right-arrow.svg') no-repeat center;
			background-size: contain;
			margin-left: 15px;
			
			@media (max-width: 1280px), (min-width: 1920px) {
				margin-left: .78vw;
			}
		}
	}

	&__estimated-token-badge {
		display: flex;
		align-items: center;
		height: .83vw;
		border-radius: .26vw;
		font-size: .52vw;
		font-weight: 700;
		text-transform: uppercase;
		position: absolute;
		left: 2.24vw;
		top: -.41vw;
		padding: 0 .3125vw;

		&.cheapest {
			background-color: #CCFF00;
		}

		&.fastest {
			background-color: #FF6F32;
		}
	}

	&__collapse-button {
		margin-left: auto;
	}

	&__change-fields-button {
		display: flex;
		align-items: center;
		justify-content: center;
		border: #E2E6EE 1px solid;
		background: white;
		border-radius: 6px;
		width: 27px;
		height: 26px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		cursor: pointer;

		@media (max-width: 1280px), (min-width: 1920px) {
			border-radius: .3125vw;
			width: 1.4vw;
			height: 1.35vw;
		}

		img {
			width: 14px;

			@media (max-width: 1280px), (min-width: 1920px) {
				width: .73vw;
			}
		}
	}
}