.wallet-actions-popup {
	
	.popup__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		// min-width: 23.3vw;
		padding-top: 3.85vw;
		padding-bottom: 2.4vw;
	}	

	&__logo {
		width: 76px;
		margin-bottom: 8px;

		@media (max-width: 1280px), (min-width: 1920px) {
			width: 4vw;
			margin-bottom: .42vw;
		}
	}

	&__title {
		font-size: 32px;
		margin-bottom: 4px;

		@media (max-width: 1280px), (min-width: 1920px) {
			font-size: 1.67vw;
			margin-bottom: .2vw;
		}
	}

	&__copy-field {
		display: flex;
		align-items: center;
		margin-bottom: 8px;

		@media (max-width: 1280px), (min-width: 1920px) {
			margin-bottom: .42vw;
		}
		
		span {
			font-size: 16px;
			font-weight: 500;
			color: var(--primary-blue);
			margin-right: 10px;

			@media (max-width: 1280px), (min-width: 1920px) {
				font-size: .83vw;				
				margin-right: .625vw;
			}
		}

		img {
			width: 1.25vw;
			height: 1.25vw;
		}
	}

	&__copied {
		display: flex;
		align-items: center;
		font-size: .83vw;
		font-weight: 500;
		color: var(--primary-blue);
		margin-bottom: 1.25vw;

		img {
			width: 1.04vw;
			height: 1.04vw;
			margin-left: .625vw;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: .83vw;		
	}

	&__select {		
		width: 200px;
		height: 52px;
		
		@media (max-width: 1280px), (min-width: 1920px) {
			width: 10.42vw;			
			height: 2.7vw;
		}
		
		.select__dropdown {			
			max-height: 200px;
			overflow-y: scroll;

			&::-webkit-scrollbar {
					width: 4px;
				}
			
			&::-webkit-scrollbar-track {
				background-color: rgba(0, 113, 255, 0.15);
				width: 4px;
				border-radius: 2px;
				margin-bottom: .98vw;				
			}
		
			&::-webkit-scrollbar-thumb {
				background-color: var(--primary-blue);
				border-radius: 2px;
			}
		}
	}

	&__balance {
		display: flex;
		align-items: center;
		border-radius: 12px;
		height: 36px;
		background-color: #0071FF26;
		color: var(--primary-blue);
		font-size: 16px;
		font-weight: 500;
		white-space: nowrap;
		padding: 0 8px;		
		margin-bottom: 48px;

		@media (max-width: 1280px), (min-width: 1920px) {
			border-radius: .625vw;
			height: 1.875vw;			
			font-size: .83vw;		
			padding: 0 .42vw;
			margin-bottom: 2.5vw;
		}

		img {
			width: 1.25vw;
			margin-left: .42vw;
		}
	}
}